@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e5eff5;
  transition: all 0.5s;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.container {
  display: grid;
  grid-template-areas:
    'community community'
    'subscription why-us';
  width: 634px;
  height: 475px;
  background: #eee;
  -webkit-box-shadow: 2px 53px 148px -78px rgba(184, 228, 239, 1);
  -moz-box-shadow: 2px 53px 148px -78px rgba(184, 228, 239, 1);
  box-shadow: 2px 53px 148px -78px rgba(184, 228, 239, 1);
}

.container > .card {
  text-align: start;
  padding: 35px;
}

.card.community {
  grid-area: community;
  background-color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.card.community h2 {
  margin-top: 10px;
  color: #2ab2af;
}
.card.card.community h4 {
  margin: 30px 0 15px 0;
  color: #c0df34;
}
.card.community p {
  width: 100%;
  color: #babec4;
  line-height: 1.6;
  margin: 0;
}

.card.subscription {
  grid-area: subscription;
  background-color: #2ab2af;
  color: #fff;
  border-radius: 0px 0px 0px 10px;
}

.card.subscription h3 {
  margin-top: 0;
}
/* 
.card.subscription p {
    font-size: 20px;
} */

.card.subscription p.details {
  font-weight: normal;
}

.card.subscription span {
  font-size: 40px;
  font-weight: bold;
  margin-right: 15px;
  color: #fff;
}

.card.subscription p.pay {
  display: flex;
  justify-self: center;
  align-items: center;
  font-weight: lighter;
  color: #e5eff5;
  margin-bottom: 5px;
}

.card.subscription .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 15px;
  background-color: #c0df34;
  border-radius: 5px;
  -webkit-box-shadow: -1px 10px 29px 0px rgba(52, 155, 125, 1);
  -moz-box-shadow: -1px 10px 29px 0px rgba(52, 155, 125, 1);
  box-shadow: -1px 10px 29px 0px rgba(52, 155, 125, 1);
  transition: all 0.2s;
}

.card.subscription .btn:hover {
  background-color: transparent;
  color: #c0df34;
  letter-spacing: 1px;
  border: 2px solid #fff;
}

.card.why-us {
  grid-area: why-us;
  color: #fff;
  background-color: #4abebd;
  border-radius: 0px 0px 10px 0px;
}

.card.why-us h3 {
  margin-top: 0;
}

.card.why-us p {
  margin-top: 0;
  line-height: 1.5;
  margin: 0;
  color: #b3dddf;
}

@media (max-width: 800px) {
  .container {
    grid-template-areas:
      'community'
      'subscription'
      'why-us';
    width: 90%;
    transform: translateY(-150px);
  }
  .container > .card {
    text-align: start;
    padding: 30px;
  }
  /* .card.community p {
    font-size: 17px;
  } */
  .card.subscription {
    border-radius: 0;
  }
  .card.card.why-us {
    border-radius: 0px 0px 10px 10px;
  }
}
